/* 
blanco #e4e6e1
azul #003bfa
*/

body {
    background-color: #e4e6e1;
    font-family: Helvetica, sans-serif;
    padding-top: 20px;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    padding: 10px 80px 10px 80px;
    border-radius: 100px;
}

li {
    list-style: none;
    margin: 0px 20px 0px 20px;
}

h1 {
    font-family: 'Turnpike', sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 25px;
    margin-bottom: 20px;
}

.imgBanner {
    width: 100%;
    border-radius: 8px;
}

.aNav {
    text-decoration: none;
    color: black;
    letter-spacing: -1px;
    transition: 0.3s;
}

.aNav:hover {
    color: #003bfa;
    transition: 0.3s;
}

section {
    display: flex;
    justify-content: center;
}

.divPresentacion {
    display: flex;
    margin-top: 20px;
    background-color: #e4e6e1;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 100px;
}

.divImgPresentacion {
    width: 100%;
    transition: 1s;
}

.divImgPresentacion:hover {
    transition: 1s;
}

.divPresentacionInfo {
    padding: 40px;
    padding-top: 0px;
    width: 100%;
}

.divPresentacionInfo,
p {
    text-align: left;
    letter-spacing: -1px;
}

.imgPresentacion {
    width: 100%;
    border-radius: 10px;
}

button {
    padding: 20px;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid;
    transition: 0.3s;
}

.divCursos {
    align-items: center;
    margin-bottom: 200px;
}

.divCursosInfo {
    display: flex;
    justify-content: space-between;
}

.tarjetas {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    font-weight: 700;
    letter-spacing: -2px;
}

.divTarjetasInfo {
    text-align: center;
}

.imgDivTarjetas {
    width: 100%;
}

.imgTarjetas {
    width: 100%;
}

.divPrecios {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}

.divPreciosForm {
    width: 50%;
    padding-right: 100px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input {
    padding: 20px;
    background-color: white;
    color: black;
    border: none;
    transition: 0.3s;
    margin-bottom: 10px;
}

.imgOjos {
    width: 100%;
    transition: 1s;
}

.contendorPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.contenedor1 {
    position: absolute;
}

.imgOjos:hover{
    filter: blur(2px);
    transition: 1s;
}

.contenedor2{
    position: absolute;
}

#spanPrecio{
    font-size: 12vh;
    font-weight: 800;
    letter-spacing: -2px;
}